body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-image: url("");
    background-repeat: no-repeat;
}

.button {
    background-color: none;
    border: none;
    color: grey;
    border: 2px solid #e7e7e7;
    padding: 4px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    margin: 4px 2px;
    cursor: pointer;
}

#search-input {
    appearance: none;
    background-color: none;
    border: 1px solid grey;
    line-height: 0;
    font-size: 17px;
    width: 50%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: grey;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

#search-input:focus {
    outline: none;
    background: #e7e7e7;
    color: grey;
    margin-top: 30px;
}

#search-input:valid {
    margin-top: 10px;
}

#search-input:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}

#search-input:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}

#search-description {
    transform-origin: left center;
    color: grey;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: relative;
    margin-top: -10px;
    z-index: 2;
    pointer-events: none;
}

#suggestion-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #fff;
    border: 1px solid grey;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.suggestion {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.suggestion-button {
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
}

.suggestion-title {
    font-weight: bold;
}

.suggestion-info {
    color: #666;
    font-size: 0.9em;
}
