{% extends 'main/general.html' %}

{% block title %} Monthly Calendar {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main/calendarstyles.css' %}">
{% endblock %}

{% block maincontent %}
<div class="main">
    <h2>{{ month_name }} {{ year_name }}</h2>
    <table class="cal" border="0">
        <tr>
            <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </tr>
        {% for week in calendar %}
            <tr>
                {% for day in week %}
                    {% if day != 0 %}
                        <td>
                            {{ day }}
                            {% for event in events %}
                                {% if event.date.day == day %}
                                    <dt>
                                        <button class="event-button" onclick="toggleEventDetails(this)" category="{{ event.category }}">{{ event.title }}</button>
                                        <div class="event-details" style="display: none;">
                                            <div class="event-border">
                                                <strong>Title:</strong> {{ event.title }}<br>
                                                <strong>Time:</strong> {{ event.start_time }} - {{ event.end_time }}<br>
                                                <strong>Location:</strong> {{ event.location }}<br>
                                                <strong>Category:</strong> {{ event.category }}<br>
                                                <strong>Description:</strong> {{ event.description }}<br>
                                                <strong>Creator:</strong> {{ event.creator_nickname }}<br>
                                                <strong>Invited Users:</strong> {{ event.invited_users_nicknames|join:", " }}<br>
                                                {% if event.recurrence %}
                                                    <strong>Recurrence:</strong> {{ event.recurrence }}<br>
                                                {% endif %}
                                            </div>
                                            <a href="{% url 'edit_event' event.id %}" class="edit-event-button">Edit Event</a>
                                        </div>
                                    </dt>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% else %}
                        <td class="empty"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

     <div class="button-container">
        <a class="button1" href="/calendar/{{ prev_month }}"><span style='font-size:20px;'>&#9204;</span></a>
        <a class="button1" href="/calendar/{{ next_month }}"><span style='font-size:20px;'>&#9205;</span></a>
    </div>

</div>
{% endblock maincontent %}

{% block scripts %}
<script>
function toggleEventDetails(button) {
    var details = button.nextElementSibling;
    if (details.style.display === 'block') {
        details.style.display = 'none';
    } else {
        // Hide all other event details before showing this one
        var allDetails = document.querySelectorAll('.event-details');
        allDetails.forEach(function(item) {
            item.style.display = 'none';
        });
        details.style.display = 'block';
    }
}
</script>
{% endblock %}


