{% extends 'main/general.html' %}

{% block title %} Edit Event {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main/edit_event_styles.css' %}">

{% endblock %}

{% block maincontent %}
<h2>Edit Event</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>
{% endblock %}

{% block style %}
<style>

form label {
    transform-origin: left center;
    color: grey;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: relative;
    margin-top: -10px;
    z-index: 2;
    pointer-events: none;
}


form input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid grey;
    line-height: 0;
    font-size: 17px;
    width: 50%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: grey;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

form input[type="text"]:focus {
    outline: none;
    background: #e7e7e7;
    color: grey;
    margin-top: 30px;
}

form input[type="text"]:valid {
    margin-top: 10px;
}

form input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}

form input[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}


form label[for="id_description"] {
    margin-top: 120px;
    margin-left: 800px;
    background-color: none;
    position: absolute;
    right: 20;
    top: 0;
}


form textarea {
    margin-top: -450px;
    width: 40%;
    color: grey;
    display: inline-block;
    vertical-align: top;
    margin-left: 800px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 17px;
    font-weight: 100;
    resize: ;
}

form textarea:focus {
    outline: none;
    background: #e7e7e7;
    color: grey;
    border-color: grey;
}

form button {
    background-color: #e7e7e7;
    border: 1px solid grey;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: grey;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

form button:hover,
form button:focus {
    color: white;
    background-color: grey;
}
form select[name="category"] {
    appearance: none;
    background-color: none;
    border: 1px solid grey;
    line-height: 0;
    font-size: 17px;
    width: 50%;
    display: block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: grey;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

form select[name="category"]:focus {
    outline: none;
    background: #e7e7e7;
    color: grey;
    margin-top: 50px;
}

form select[name="category"]:valid {
    margin-top: 10px;
}

form select[name="category"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}

form select[name="category"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}

form select[name="category"] option[selected] {
    background: #e7e7e7;
    color: grey;
}

</style>
{% endblock %}