{% extends 'main/general.html' %}
{% block css %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/main/privacystyles.css' %}">
    {% endblock %}
{% block title %} Rrivacy {% endblock %}

{% block maincontent %}
    <div>
        <h2>Rrivacy</h2>
    </div>
    <div>
        <h4>Welcome to Google-Calendar. This Privacy Policy explains how we collect, use, and protect your personal information when you use our calendar service to create events.</h4>

        <h5>1. Information Collected</h5>

        <p>When you create events on our calendar, we collect the following types of information:</p>
        <p>Personal information: such as your name and email address.</p>
        <p>Event details: including event title, date, time, description, location, and recurrence patterns.</p>
        <p>Invited users' email addresses.</p>

        <h5>2. How Information is Used</h5>

        <p>We use the collected information to:</p>
        <p>Display events to the user who created them.</p>
        <p>Send event invitations to invited users via email.</p>
        <p>Provide reminders or notifications about upcoming events.</p>
        <p>Analyze user behavior to improve the application's features and user experience.</p>

        <h5>3. Data Sharing</h5>

        <p>We do not share user data with third parties except as necessary to provide the calendar service, such as sending email invitations.</p>
        <p>Any sharing of data with third parties is done with explicit user consent or as required by law.</p>

        <h5>4. Data Retention</h5>

        <p>Events may be retained indefinitely unless deleted by the user. User account information is retained as long as the user maintains an account with the application.</p>

        <h5>5. User Control and Rights</h5>

        <p>Users have the right to access, update, or delete their account and event data. They can also control notifications or opt-out of certain data processing activities.</p>

        <h5>6. Security Measures</h5>

        <p>We implement security measures to protect user data from unauthorized access, disclosure, or misuse. These measures include encryption of data during transmission and storage, access controls, and regular security audits.</p>

        <h5>7. Changes to the Privacy Policy</h5>

        <p>This Privacy Policy may be updated periodically, and users will be notified of any significant changes.</p>

        <h5>8. Contact Information</h5>

        <p>If you have any questions or concerns about our privacy practices, please contact us at husakmaria74@gmail.com.</p>

        <h5>9. Consent</h5>

        <p>By using the Application and creating events on the calendar, you consent to the collection, processing, and use of your information as outlined in this Privacy Policy.</p>
    </div>
{% endblock %}

