{% extends 'main/general.html' %}
{% block title %} Search Events {% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main/search_style.css' %}">
{% endblock %}


{% block maincontent %}
<div class="search-container">
    <input type="text" id="search-input" placeholder="Search events..." autocomplete="off">
    <p id="search-description"></p>
</div>
<div id="search-results">
    <dl>

    </dl>
</div>
{% endblock %}
{% block scripts %}
<script>

function fetchSearchSuggestions(query) {
    fetch(`/search-suggestions/?query=${encodeURIComponent(query)}`)
        .then(response => response.json())
        .then(data => displaySearchSuggestions(data))
        .catch(error => console.error('Error:', error));
}

function displaySearchSuggestions(suggestions) {
    var suggestionContainer = document.getElementById('suggestion-container');
    var searchInput = document.getElementById('search-input');

    while (searchInput.nextElementSibling) {
        searchInput.parentNode.removeChild(searchInput.nextElementSibling);
    }

    if (suggestions.length > 0) {
        var suggestionList = document.createElement('dl');
        suggestionList.classList.add('search-suggestions');

        suggestions.forEach(function(event) {
            var listItem = document.createElement('dt');
            var title = event.title;
            var startTime = event.start_time;
            var endTime = event.end_time;
            var location = event.location;
            var description = event.description;

            listItem.innerHTML = `
                <button type="button" class="suggestion-button">
                    <span class="suggestion-title">${title}</span><br>
                    <span class="suggestion-info">Start Time: ${startTime} | End Time: ${endTime} | Location: ${location} | Description: ${description}</span>
                </button>
            `;

            listItem.addEventListener('click', function() {
                searchInput.value = title;
                searchEvents();
            });

            suggestionList.appendChild(listItem);
        });

        searchInput.parentNode.appendChild(suggestionList);
    }
}

document.getElementById('search-input').addEventListener('keyup', function(event) {
    var query = event.target.value.trim();

    if (event.key === 'Enter') {
        var searchSuggestions = document.querySelector('.search-suggestions');
        if (!searchSuggestions) {
            searchEvents();
        }
    } else {
        if (query !== '') {
            fetchSearchSuggestions(query);
        } else {
            var searchSuggestions = document.querySelector('.search-suggestions');
            if (searchSuggestions) {
                searchSuggestions.remove();
            }
        }
    }
});


</script>
{% endblock %}
